@font-face {
    font-family: bornia;
    src: url("login_fonts/bornia-regular.ttf");
}

@font-face {
    font-family: bornia-bold;
    src: url("login_fonts/bornia-bold.ttf");
}

body {
    background-color: black;
    margin: 0;
    border: 0;
}

.img_background {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    filter: blur(4px);
    z-index: -1;
}

.main {
    z-index: 1;
    width: 100lvw;
    height: 100lvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.halves_container {

    width: 800px;
    height: 500px;

    display: flex;
    flex-direction: row;

    box-shadow: -10px 10px 1rem black;

    transform: flex-direction 0.5s;
}

@keyframes sliding_up_first_half {

    0% {transform: translateX(50%);}
    100% {transform: translateX(0%);}

}

.first_half {

    transform: translateX(50%);

    width: 40%;
    height: 100%;
    background-image: url("login_images/background.png");
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 3% 3% 0% 0%; 

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: sliding_up_first_half;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Attempt at Animation */

@keyframes expand_padding {

    0% {padding: 0% 0% 0% 0%;}
    100% {padding: 55% 10% 55% 10%;}

}

.logo_first_half {

    height: 30%;
    background-color: rgba(184, 59, 94, 0.7);
    padding: 0%;
    border-radius: 5% 0% 0% 0%;

    animation-name: expand_padding;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;

}

@keyframes sliding_down_second_half {

    0% {transform: translateX(-50%);}
    100% {transform: translateX(0%);}

}

.second_half {

    transform: translateX(-50%);

    width: 60%;
    height: 100%;
    background-color: white;

    border-radius: 0% 0% 5% 0%;

    display: inline-block;
    text-align: center;
    
    animation-name: sliding_down_second_half;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.login_title {

    font-size: 1.2rem;
    font-family: bornia-bold;

}

@keyframes form_input_text_expander {

    0%{width: 0%;}
    100%{width: 50%;}

}

input[type=text] {

    padding: 2% 2% 2% 10%;
    width: 0%;
    
    animation-name: form_input_text_expander;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    background-repeat: no-repeat;
    background-position: 3px;
    background-size: 10%;

}

.form_username {

    background-image: url("login_images/username_icon.png");

}

.form_email {

    background-image: url("login_images/email_icon.png");
    background-size: 9%;

}

.form_password {

    padding: 2% 2% 2% 10%;
    width: 0%;
    
    animation-name: form_input_text_expander;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    background-image: url("login_images/password_icon.png");
    background-size: 10%;
    background-position: 2.5px;
    background-repeat: no-repeat;
}

input[type=text]:hover {

    border: inset 2px #B83B5E;

}

input[type=password]:hover {

    border: inset 2px #B83B5E;

}

.form_submit_button {

    border-radius: 5%;
    font-style: none;
    font-family: bornia-bold;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 2% 10% 2% 10%;

}

@keyframes submit_wiggle{

    0%{transform: rotate(0deg);}
    25%{transform: rotate(1deg);}
    75%{transform: rotate(1deg);}
    100%{transform: rotate(0deg);}

}

.form_submit_button:hover {

    border: inset 2px #B83B5E;
    animation-name: submit_wiggle;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.register {

    font-family: candara;   
    font-size: 1rem;
    color:black;
    text-decoration: none;

}

.register:hover {

    color:rgba(184, 59, 94, 0.7);

}